<%- include("partials/header") -%>

<br>
<br>
<form class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Title">
  </div>


  <h5>i</h5>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Term</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Term">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Definition</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Enter Definition"></textarea>
  </div>


  <div class="mb-3">
    <button id="addCardBtn" class="btn btn-primary my-2">Add Card</button>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Create Set</button>
</form>

<br>
<br>

<script type="text/javascript">
  // let numCards = 1;
  // $(document).ready(function() {
  //   $("addCardBtn").click(function() {
  //
  //   });
  // });
  // let numCards = 1;
  // while (numCards <= 6) {
  //   addCard();
  // };
  //
  // function addCard() {
  //
  //   numCards++;
  // };
</script>

<%- include("partials/footer") -%>
