<%- include("partials/header") -%>

<main class="container">
  <h2>Recent Study Sets</h2>
  <ul>
    <li>Card, Links to public flashcards</li>
    <li>Card, Links to public flashcards</li>
    <li>Card, Links to public flashcards</li>
  </ul>
</main>


<%- include("partials/footer") -%>
