<%- include("partials/header") -%>


<% console.log("cardList" + cardList) %>

<h1>what</h1>



<% let i = 0 %>
<% for (i = 0; i < cardList.length; i++) { %>
<%  console.log('another one'); %>
<% } %>

<%- include("partials/footer") -%>
